.landing-page {

  .btn-word-select {
    padding: 2rem 4rem;
    background-color: $inverse-charcoal;
    color: $dark-charcoal;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 700;
  }

}