@import '../abstract/variable';

.word-box-container {

  label {
    color: $inverse-charcoal;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 3rem;
  }

   input {
     padding: 2rem 4rem;

   }
}