/* Background of page */
$dark-charcoal: #080808;
$medium-charcoal: #141414;
$light-charcoal: #2B2B2B;

/* Text colour schema */
$inverse-charcoal: #DEDEDE;
$burgundy-text: #800020;
$dark-blue: #0C4160;
$emerald-green: #478C5C;

/* Shadows */
$light-black-shadow: rgba(0, 0, 0, 0.5);
$dark-black-shadow: #000000;